section(class='about-us')
    div(class='wrapper-inner')
        h2
            span(class='text-blue')
                != 'MAŁA FIRMA'
            span(class='text-white')
                != ' = '
            span(class='text-pink')
                != 'WIELKIE SERCE'
        p
            != 'Zakres usług naszej agencji jest bardzo szeroki. <br>To nasi klienci go definiują - dodając wciąż to nowe i nietypowe zamówienia, <br>które uwielbiamy. '
        p
            != 'Goonevent kompleksowo wspiera wizerunek i działalność klientów organizując <br>wydarzenia, a także projektując, realizując i montując stałe projekty.'