div(class='contact' id='contact')
    div(class='wrapper-inner')
        h2
            != 'KONTAKT'
        div(class='contact-content')
            div(class='contact-list')
                div(class='contact-item')
                    div(class='contact-title text-blue')
                        != 'WYCENY, PYTANIA:'
                    p
                        != '<a href="mailto:contact@goonevent.pl">contact@goonevent.pl</a>'
                div(class='contact-item')
                    div(class='contact-title text-blue')
                        != 'PROJEKTY NIETYPOWE:'
                    p
                        != 'Jakub Wittbrodt'
                    p
                        != '<a href="mailto:jakub@goonevent.pl">jakub@goonevent.pl</a>'
                    p
                        != '<a href="tel:+48791502006">+48 791 502 006</a>'
                div(class='contact-item')
                    div(class='contact-title text-blue')
                        != 'ADRES:'
                    p
                        != '00-236 Warszawa'
                    p
                        != 'ul. Świętojerska 5/7'
                    p
                        != 'Instytut Wzornictwa Przemysłowego'
            div(class='contact-map')
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.5627818195735!2d21.005258592523877!3d52.25132468925729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc6fdf2fa68b%3A0xcc0fad43b0809be5!2zxZp3acSZdG9qZXJza2EgNSwgMDAtMjM2IFdhcnN6YXdhLCDQn9C-0LvRjNGI0LA!5e0!3m2!1sru!2sua!4v1527190135621" style="border:none" allowfullscreen)