footer
    div(class='wrapper-inner')
        ul(class='social-links')
            li
                a(href='https://www.facebook.com/Goonevent-1501285003425377/' target='_blank')
                    img(src='images/icon-fb.png' alt='some text')
            li
                a(href='https://www.instagram.com/goonevent_warszawa/' target='_blank')
                    img(src='images/icon-insta.png' alt='some text')
        div(class='developer')
            != 'Realizacja: <a href="https://www.mx-studio.pl/" target="_blank">MX Studio</a>'