header
    div(class='wrapper-inner')
        div(class='logo')
            img(src='images/logo.png' alt='')
        nav(class='nav-header')
            ul
                li
                    a(href='#services')
                        != 'OFERTA'
                li
                    a(href='#portfolio')
                        != 'PORTFOLIO'
                li
                    a(href='#contact')
                        != 'KONTAKT'
                li
                    a(href='blog-list.html')
                        != 'BLOG'
        div(class='burger')
            div(class='burger-top')
            div(class='burger-center')
            div(class='burger-bottom')