div(class='logos')
    h2
        != 'Zaufali nam'
    div(class='logos-inner')
        div(class='wrapper-inner')
            div(class='slider-arrow slider-prev')
            div(class='slider-arrow slider-next')
            div(class='logos-slider')
                div(class='slide')
                    img(src='images/1.png' alt='')
                div(class='slide')
                    img(src='images/2.png' alt='')
                div(class='slide')
                    img(src='images/3.jpg' alt='')
                div(class='slide')
                    img(src='images/4.png' alt='')
                div(class='slide')
                    img(src='images/5.png' alt='')
                div(class='slide')
                    img(src='images/6.jpg' alt='')
                div(class='slide')
                    img(src='images/7.jpg' alt='')
                div(class='slide')
                    img(src='images/8.jpg' alt='')
                div(class='slide')
                    img(src='images/9.png' alt='')
                div(class='slide')
                    img(src='images/10.jpg' alt='')
                div(class='slide')
                    img(src='images/11.jpg' alt='')
                div(class='slide')
                    img(src='images/12.jpg' alt='')
                div(class='slide')
                    img(src='images/13.png' alt='')
                div(class='slide')
                    img(src='images/14.png' alt='')
                div(class='slide')
                    img(src='images/15.jpg' alt='')
                div(class='slide')
                    img(src='images/16.jpg' alt='')
                div(class='slide')
                    img(src='images/17.jpg' alt='')
                div(class='slide')
                    img(src='images/18.jpg' alt='')
                div(class='slide')
                    img(src='images/19.jpg' alt='')
                div(class='slide')
                    img(src='images/20.jpg' alt='')
                div(class='slide')
                    img(src='images/21.png' alt='')
                div(class='slide')
                    img(src='images/22.jpg' alt='')
                div(class='slide')
                    img(src='images/23.jpg' alt='')
                div(class='slide')
                    img(src='images/24.jpg' alt='')
                div(class='slide')
                    img(src='images/25.png' alt='')
                div(class='slide')
                    img(src='images/26.jpg' alt='')
                div(class='slide')
                    img(src='images/27.png' alt='')
                div(class='slide')
                    img(src='images/28.jpg' alt='')
                div(class='slide')
                    img(src='images/29.png' alt='')
                div(class='slide')
                    img(src='images/30.jpeg' alt='')
                div(class='slide')
                    img(src='images/31.png' alt='')
                div(class='slide')
                    img(src='images/32.png' alt='')
                div(class='slide')
                    img(src='images/33.png' alt='')
                div(class='slide')
                    img(src='images/34.jpg' alt='')
                div(class='slide')
                    img(src='images/35.jpg' alt='')
                div(class='slide')
                    img(src='images/36.jpg' alt='')
                div(class='slide')
                    img(src='images/37.jpg' alt='')
                div(class='slide')
                    img(src='images/38.png' alt='')
                div(class='slide')
                    img(src='images/39.png' alt='')
                div(class='slide')
                    img(src='images/40.jpg' alt='')
                div(class='slide')
                    img(src='images/41.png' alt='')
                div(class='slide')
                    img(src='images/42.png' alt='')
                div(class='slide')
                    img(src='images/43.svg' alt='')
                div(class='slide')
                    img(src='images/44.jpg' alt='')
                div(class='slide')
                    img(src='images/45.jpg' alt='')
                div(class='slide')
                    img(src='images/46.jpg' alt='')
                div(class='slide')
                    img(src='images/47.png' alt='')
                div(class='slide')
                    img(src='images/48.jpg' alt='')
                div(class='slide')
                    img(src='images/49.jpg' alt='')
                div(class='slide')
                    img(src='images/50.jpg' alt='')
                div(class='slide')
                    img(src='images/51.png' alt='')
                div(class='slide')
                    img(src='images/52.gif' alt='')
                div(class='slide')
                    img(src='images/53.jpg' alt='')
                div(class='slide')
                    img(src='images/54.png' alt='')
                div(class='slide')
                    img(src='images/55.gif' alt='')