section(class='portfolio' id='portfolio')
    div(class='wrapper-inner')
        div(class='portfolio-slider')
            div(class='slide')
                img(src='images/image-portfolio-1.jpg' alt='')
            div(class='slide')
                img(src='images/image-portfolio-2.jpg' alt='')
            div(class='slide')
                img(src='images/image-portfolio-3.jpg' alt='')
            div(class='slide')
                img(src='images/image-portfolio-4.jpg' alt='')