section(class='services' id='services')
    div(class='wrapper-inner')
        h2
            != 'co robimy?'
        div(class='services-list')
            a(href='service-fair-stands.html' class='services-item')
                div(class='services-title')
                    != 'STOISKA TARGOWE'
                div(class='services-icon')
                    img(src='images/icon-services-1.png' alt='')
                div(class='services-subtitle')
                    != 'Projektowanie, produkcja i montaż. Kompleksowe wsparcie i doradztwo.'
            a(href='service-sound.html' class='services-item')
                div(class='services-title')
                    != 'NAGŁOŚNIENIE'
                div(class='services-icon')
                    img(src='images/icon-services-2.png' alt='')
                div(class='services-subtitle')
                    != 'Konferencje, Koncerty, Imprezy firmowe i prywatne. '
            a(href='service-lighting.html' class='services-item')
                div(class='services-title')
                    != 'OŚWIETLENIE'
                div(class='services-icon')
                    img(src='images/icon-services-3.png' alt='')
                div(class='services-subtitle')
                    != 'Wydarzenia, imprezy, stałe ekspozycje.'
            a(href='service-scenography.html' class='services-item')
                div(class='services-title')
                    != 'SCENOGRAFIA, WYNAJEM MEBLI'
                div(class='services-icon')
                    img(src='images/icon-services-4.png' alt='')
                div(class='services-subtitle')
                    != 'Pełne wyposażenie wydarzeń w meble i akcesoria eventowe.'
            a(href='service-advisory.html' class='services-item')
                div(class='services-title')
                    != 'DORADZTWO (zakup, montaż)'
                div(class='services-icon')
                    img(src='images/icon-services-5.png' alt='')
                div(class='services-subtitle')
                    != 'Analiza przestrzeni, dobór nagłośnienia, oświetlenia, montaż.'
            a(href='service-scenic-lighting.html' class='services-item')
                div(class='services-title')
                    != 'OPRAWA SCENICZNA'
                div(class='services-icon')
                    img(src='images/icon-services-6.png' alt='')
                div(class='services-subtitle')
                    != 'Kratownica, podesty, nagłośnienie, oświetlenie, scenografia.'
            a(href='service-individual.html' class='services-item')
                div(class='services-title')
                    != 'PROJEKTY  INDYWIDUALNE'
                div(class='services-icon')
                    img(src='images/icon-services-7.png' alt='')
                div(class='services-subtitle')
                    != 'Specjalnie dedykowane projekty wraz z ich wykonaniem i montażem.'
            a(href='service-multimedia.html' class='services-item')
                div(class='services-title')
                    != 'MULTIMEDIALNA OPRAWA WYDARZENIA'
                div(class='services-icon')
                    img(src='images/icon-services-8.png' alt='')
                div(class='services-subtitle')
                    != 'Ekrany, telewizory, projektory.'
            a(href='service-print-gadgets.html' class='services-item')
                div(class='services-title')
                    != 'DTP, DRUK, GADŻETY'
                div(class='services-icon')
                    img(src='images/icon-services-9.png' alt='')
                div(class='services-subtitle')
                    != 'Druk wielkoformatowy, gadżety reklamowe, katalogi, ulotki, etc.'
            a(href='service-hostess.html' class='services-item')
                div(class='services-title')
                    != 'HOSTESSY, ATRAKCJE'
                div(class='services-icon')
                    img(src='images/icon-services-10.png' alt='')
                div(class='services-subtitle')
                    != 'Pokazy laserowe, widowiska i wsparcie hostess.'
        p
            != 'Masz pytanie? Skontaktuj się z nami: <a href="mailto:contact@goonevent.pl">contact@goonevent.pl</a>'
        p
            != 'Potrzebujesz szybkiej konsultacji? Jakub Wittbrodt, <a href="tel:+48791502006">+48 791 502 006</a>'