div(class='top')
    div(class='top-image')
        img(src='images/images-top-man.png' alt='')
    div(class='wrapper-inner')
        ul(class='top-list')
            li
                != 'DORADZTWO'
            li
                != 'PRODUKCJA'
            li
                != 'REALIZACJA'