/*********************************************
*********** general
**********************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: $font-regular;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  transition: .4s;
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.slide:hover,
.slide:active,
.slide:focus,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
}

body {
  background: #000;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000 url(../images/background.jpg) no-repeat center 0;
  }

}

.wrapper-inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

main {
  display: block;
  width: 100%;
  flex-grow: 1;
  padding: 0 0 100px;
}

p {
  font-size: 17px;
  line-height: 32px;
  margin: 0 0 20px;
  text-align: justify;
  color: #fff;
  letter-spacing: .5px;
}

.text-blue {
  color: $color-blue;
}

.text-pink {
  color: $color-pink;
}

h2 {
  font-family: $font-bold;
}

section {
  display: block;
  padding: 30px 0;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  color: #708489;
  opacity: 1;
}

input::-moz-placeholder {
  font-size: 20px;
  color: #708489;
  opacity: 1;
}

input:-moz-placeholder {
  font-size: 20px;
  color: #708489;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-size: 20px;
  color: #708489;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}