///////////////////////////////////////////////
///////////// variables
///////////////////////////////////////////////

$font-regular: "Avenir Next Condensed", sans-serif;
$font-bold: "Avenir Next Condensed Bold", sans-serif;

$color-blue: #00FFFF;
$color-pink: #FF00FF;
