doctype html
html(lang="pl")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="css/custom-styles.css")

        title
            block title
    body
        div(class='wrapper')
            block content
        script(src="js/jquery.min.js")
        script(src="js/scripts.min.js")

