extends ../layout/service

block title
    | Blog article

block content
    main
        div(class='blog')
            div(class='wrapper-inner')
                article
                    h1
                        != 'Article about something'
                    div(class='article-image-main')
                        img(src='images/article-image-main.jpg' alt='some text')
                    p
                        !='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla orci a quam auctor euismod. Nunc rhoncus ultrices ligula euismod bibendum. Vivamus commodo urna eget scelerisque finibus. Praesent aliquam blandit odio, quis ultrices neque molestie id. Quisque suscipit nisi eu nibh ornare ornare. Duis eu lorem vel orci imperdiet pharetra. Nulla mattis lorem quis posuere vulputate. Suspendisse porttitor consequat nibh fermentum viverra. Phasellus sit amet nisl mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vitae rutrum ante. Mauris libero urna, blandit ut faucibus et, sollicitudin sed sapien. Cras vestibulum eget orci non tristique.'
                    p
                        !='Aliquam euismod tortor in urna pellentesque suscipit. Praesent pretium tincidunt interdum. Proin efficitur id nisl vitae volutpat. Aliquam lacinia, eros eu semper laoreet, urna justo mollis diam, eget luctus elit ex sit amet nisi. Etiam tincidunt eget sem eu elementum. Suspendisse ut nulla dignissim, hendrerit magna at, consequat neque. Donec condimentum laoreet nulla, et mollis orci rutrum vitae. Maecenas rhoncus hendrerit eros.'
                    p
                        !='Etiam massa est, suscipit placerat mauris et, condimentum porta metus. Donec semper semper libero quis sodales. Suspendisse potenti. Aenean sed diam lobortis, ultrices mi interdum, sollicitudin nunc. Integer pretium pretium nibh vel placerat. Maecenas in ante in magna interdum congue sed sed risus. Phasellus imperdiet tempor neque, a pretium enim suscipit nec. Morbi sit amet quam sodales, pellentesque tellus vel, convallis augue. Cras euismod, nisl ut viverra mollis, purus nunc iaculis turpis, eu varius ligula massa vitae eros.'
                    p
                        !='Proin nec sapien a est placerat congue. Aliquam erat volutpat. Vivamus pulvinar, orci non lacinia placerat, dolor lacus interdum tortor, a pretium nisl ligula vitae mauris. Vestibulum pretium magna eu ante imperdiet, at tristique lorem viverra. Proin consectetur maximus lacus, vel maximus nisl hendrerit non. Nullam non diam enim. Vivamus scelerisque libero euismod condimentum vestibulum. Phasellus gravida quis ante ut egestas. Duis et quam vel purus porta dignissim. Nulla cursus metus id metus consequat hendrerit aliquet et leo. Duis a turpis id orci facilisis efficitur. Pellentesque consequat eros quam, at commodo nisi ornare nec. Vestibulum accumsan sagittis mauris, eu consequat tortor vulputate non. Maecenas et libero a tortor scelerisque auctor. Vestibulum cursus erat ac turpis pellentesque, quis suscipit magna congue. Sed hendrerit tempus dui.'

                    h2
                        !='Heading 2'
                    div(class='article-image-small')
                        img(src='images/image-gallery-2.png' alt='some text')
                    p
                        !='Praesent id risus at urna tristique blandit sed a erat. Curabitur et porttitor arcu. Suspendisse malesuada nulla eget venenatis auctor. Pellentesque ac nunc vulputate, fermentum tortor vitae, porttitor massa. Proin a tortor eu nisl suscipit consequat. Cras aliquet nec turpis sit amet condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi tristique consequat elit, ut ultricies sem mollis maximus. Phasellus ac ipsum tellus. Maecenas a enim a sapien pharetra tempor. Nulla porta nisl eget commodo laoreet. Suspendisse hendrerit urna ut urna vehicula, ornare ornare ligula gravida. Integer mattis condimentum pretium. Nullam felis elit, cursus vel diam sit amet, vulputate faucibus ligula.'
                    p
                        !='Vivamus id enim lectus. Morbi aliquet fringilla odio, non ultrices libero fermentum sit amet. Ut faucibus leo ut pulvinar sagittis. Praesent pretium mollis lectus, in sodales nisi finibus vitae. Curabitur nec nibh nisl. Cras ipsum leo, finibus non tortor vitae, scelerisque blandit sapien. Praesent blandit dictum lorem nec vulputate. Quisque purus lorem, tincidunt ac arcu sed, scelerisque dictum turpis. Vivamus tincidunt dui magna, a commodo lacus laoreet at. Donec condimentum nunc lobortis eros facilisis rhoncus. Proin feugiat justo quis orci viverra efficitur a nec purus. Aliquam eget justo nisl. Duis congue sollicitudin malesuada. Integer eleifend arcu elementum dui consequat ullamcorper.'
                    p
                        !='Aliquam dictum, nibh sodales cursus eleifend, purus ante iaculis quam, id accumsan diam nulla quis augue. Sed cursus leo at diam rhoncus sollicitudin. In nec nisi fringilla, molestie ipsum nec, condimentum nibh. Etiam bibendum in elit in facilisis. Integer a nisl ac urna laoreet hendrerit. Pellentesque ultrices sagittis lectus eget consequat. Etiam vitae justo gravida, dapibus felis sed, varius est. Suspendisse pharetra leo massa, et mollis arcu laoreet convallis. Duis et arcu eget libero auctor euismod quis in lacus. Quisque non semper quam, ac porttitor ante. Proin rutrum urna ut dolor fermentum bibendum. Aliquam eget leo sed odio efficitur egestas quis non ex.'
                    div(class='article-image-small')
                        img(src='images/image-portfolio-1.jpg' alt='some text')
                    p
                        !='Sed arcu turpis, lacinia fringilla condimentum eu, rhoncus quis neque. Aenean efficitur ante vel nulla elementum, gravida ullamcorper purus aliquam. Maecenas rutrum metus dolor, sed ultrices tellus varius sit amet. Nullam malesuada enim nec nisl elementum laoreet. Vivamus maximus metus eu mi gravida tincidunt. Maecenas eget est tempus, viverra urna eu, semper mi. Vivamus ultricies purus et lacus sollicitudin, feugiat venenatis risus vestibulum. Nulla mi erat, sollicitudin vitae auctor eget, efficitur sit amet arcu. Duis lectus leo, varius sed dictum sed, mollis porttitor quam. Sed ullamcorper vulputate elementum. Mauris at nisl semper, tempor nulla at, eleifend neque.'
                    p
                        !='Proin eget ornare ex, pharetra sollicitudin turpis. Curabitur tincidunt diam id quam finibus malesuada. Pellentesque mattis diam fermentum nulla tincidunt efficitur. Donec non venenatis libero, cursus facilisis magna. Donec varius risus nulla, eu fermentum metus egestas ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam iaculis sollicitudin metus, sed malesuada nisl egestas nec. Fusce consequat pretium tellus ut viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor mattis diam, tempus mollis sem sollicitudin in.'
                    p
                        !='Suspendisse non commodo augue. Integer placerat ullamcorper mi sed suscipit. Sed non fermentum leo. Etiam sit amet risus justo. Cras vestibulum ac odio a aliquet. Mauris nibh eros, iaculis sit amet justo nec, pharetra mattis elit. Proin malesuada egestas efficitur. Curabitur dignissim mattis lobortis. In volutpat purus dolor, quis consequat enim condimentum quis. Morbi ut lobortis enim. Phasellus eget metus efficitur risus aliquam consequat. Duis pharetra eget felis et pretium. Proin in fermentum arcu. Nunc aliquet malesuada lorem vitae finibus. Suspendisse sit amet laoreet ante. Morbi pretium, odio eget imperdiet maximus, turpis eros blandit dui, at faucibus diam ipsum vel augue.'