extends ../layout/service

block title
    | Blog list

block content
    main
        div(class='blog')
            div(class='wrapper-inner')
                h1
                    != 'Blog'
                div(class='blog-list')
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-1.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-2.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-2.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-1.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-1.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-1.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-2.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-1.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                    a(href='blog-single.html' class='blog-item')
                        figure
                            img(src='images/image-gallery-2.png' alt='some text')
                        h3
                            !='Heading 1'
                        time
                            != '01.01.2018'
                div(class='pagination')
                    a(href='#' class='pagination-prev')
                        != '&lt; previous'
                    ul
                        li
                            a(href='#')
                                != '1'
                        li
                            a(href='#')
                                != '2'
                        li
                            a(href='#')
                                != '3'
                        li
                            span
                                != '...'
                        li
                            a(href='#')
                                != '20'
                    a(href='#' class='pagination-next')
                        != 'next &gt;'