extends ../layout/main

block title
    | Main page

block content
    main
        include ../modules/top
        include ../modules/about-us
        include ../modules/services
        include ../modules/portfolio
        include ../modules/logos
        include ../modules/contact