extends ../layout/service

block title
    | Service lighting

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'OŚWIETLENIE'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    div(class='s-service-text')
                        p
                            != 'Oświetlenie przestrzeni jest kluczowym zadaniem, gdy zależy na tzw. efekcie wow. To dzięki niemu możemy zamienić salę gimnastyczną w prawdziwą galę bokserską, czy też zwrócić uwagę gości na stoisko targowe. Światło pomaga również wprowadzeniu odpowiedniej atmosfery - inne wykorzystuje się podczas uroczystej gali i inne podczas imprezy hip-hopowej.'
                        p
                            != 'Goonevent zapewnia wsparcie w zakresie planowania oświetlenia, <br>a także jego dostarczenia i montażu.'
                    ul(class='s-service-list')
                        li
                            != 'IMPREZY FIRMOWE'
                        li
                            != 'KONFERENCJE'
                        li
                            != 'KONCERTY'
                        li
                            != 'PIKNIKI'
                        li
                            != 'WESELA'
                        li
                            != 'TARGI'
                        li
                            != 'INNE'
                div(class='s-service-image')
                    img(src='images/s-oświetlenie.png' alt='some text')