extends ../layout/service

block title
    | Service scenography

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'SCENOGRAFIA, <br>WYNAJEM MEBLI'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    div(class='s-service-text')
                        p
                            != 'Szeroka oferta mebli eventowych i wystawienniczych. Począwszy od krzeseł, foteli, hokerów, przez stoły, aż po efektowne dodatki mające zwrócić uwagę gości wydarzenia. '
                        p
                            != 'Goonevent zajmuje się również produkcją scenografii. <br><span class="text-pink">Uwielbiamy tworzyć projekty indywidualne! (Więcej info w dziale PROJEKTY INDYWIDUALNE)</span>'
                    ul(class='s-service-list')
                div(class='s-service-image')
                    img(src='images/s-scenografia.png' alt='some text')