extends ../layout/service

block title
    | Service advisory

block content
    main
        div(class='s-service-simple')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'DORADZTWO'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-text')
                    p
                        != 'Kompleksowe wsparcie przy analizie przestrzeni, zakupie i montażu sprzętu.'
                    p
                        != 'Począwszy od nagłośnienia, przez oświetlenie, aż po scenografię / meble.'
                    p
                        != 'Goonevent w swojej ofercie ma również produkcję indywidualnych rozwiązań.'