extends ../layout/service

block title
    | Service print and gadgets

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'DTP, DRUK, GADŻETY'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    ul(class='s-service-list')
                        li
                            != 'BANERY'
                        li
                            != 'ROLL-UP'
                        li
                            != 'ULOTKI'
                        li
                            != 'PLAKATY'
                        li
                            != 'WIZYTÓWKI'
                        li
                            != 'KATALOGI'
                        li
                            != 'FLAGI'
                        li
                            != 'NAKLEJKI / OKLEINY (produkcja i montaż)'
                        li
                            != 'KOSZULKI, PODUSZKI, GADŻETY'
                        li
                            != 'INDYWIDUALNE PROJEKTY'
                div(class='s-service-image')
                    img(src='images/s-dtp-druk-gadżety.png' alt='some text')