extends ../layout/service

block title
    | Service sound

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'NAGŁOŚNIENIE'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    div(class='s-service-text')
                        p
                            != 'Świadczymy profesjonalne usługi nagłośnienia w przestrzeni indoor i outdoor. Wspieramy klientów podczas organizowanych wydarzeń, a także tworzymy systemy nagłośnień do stałych projektów.'
                    ul(class='s-service-list')
                        li
                            != 'IMPREZY FIRMOWE'
                        li
                            != 'KONFERENCJE'
                        li
                            != 'KONCERTY'
                        li
                            != 'PIKNIKI'
                        li
                            != 'WESELA'
                        li
                            != 'TARGI'
                        li
                            != 'INNE'
                div(class='s-service-image')
                    img(src='images/s-nagłośnienie.png' alt='some text')