extends ../layout/service

block title
    | Service hostess

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'HOSTESSY, ATRAKCJE'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    div(class='s-service-text')
                        p
                            != 'Goonevent posiada szeroką ofertę atrakcji eventowych, <br>dzięki którym goście na długo zapamiętają Twoją imprezę.'
                    ul(class='s-service-list')
                        li
                            != 'GWIAZDY'
                        li
                            != 'HOSTESSY'
                        li
                            != 'PIROTECHNIKA'
                        li
                            != 'IMPREZY FIRMOWE'
                        li
                            != 'SCENOGRAFIA, DMUCHAŃCE'
                        li
                            != 'INTEGRACJA (TEAM BUILDING)'
                        li
                            != 'SPECJALNE POKAZY (NP. LASEROWE)'
                        li
                            != 'INNE...'
                div(class='s-service-image')
                    img(src='images/s-hostessy-atrakcje.png' alt='some text')