extends ../layout/service

block title
    | Service multimedia

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'MULTIMEDIALNA <br>OPRAWA WYDARZENIA'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    div(class='s-service-text-large')
                        p
                            != 'Wynajem oraz obsługa sprzętu multimedialnego. <br>Nasze projektory pracowały m.in. dla HBO, TLC.'
                        p
                            != 'Goonevent zapewnia również ekrany, kamery <br>i wszelkie multimedia niezbędne podczas <br>takich wydarzeń jak imprezy branżowe, targi <br>i inne.'
                    ul(class='s-service-list')
                div(class='s-service-image')
                    img(src='images/s-multimedia.png' alt='some text')