extends ../layout/service

block title
    | Service lighting

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'PROJEKTY INDYWIDUALNE'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-text')
                    p
                        != 'Goonevent realizuje nietypowe stoiska targowe, a także projekty stałe.'
                    p
                        != 'Począwszy od zaprojektowania i produkcji systemu nawigacji <br>wewnątrz budynku przez produkcję nietypowych gadżetów <br>aż po pełne wyposażenie klubu sportowego.'
                div(class='s-service-gallery')
                    div(class='s-service-gallery-item')
                        h3
                            != 'EKSKLUZYWNY KLUB SPORTOWY „MANUFAKTURA”'
                        div(class='s-service-gallery-image')
                            img(src='images/image-gallery-1.png' alt='')
                    div(class='s-service-gallery-item')
                        h3
                            != 'PRODUKCJA MEBLI WYSTAWIENNICZYCH'
                        div(class='s-service-gallery-image')
                            img(src='images/image-gallery-2.png' alt='')