extends ../layout/service

block title
    | Service fair stands

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'STOISKA TARGOWE'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    div(class='s-service-text')
                        p
                            != 'Goonevent kompleksowo obsługuje organizację stoisk targowych.'
                        p
                            != 'Zajmujemy się projektowaniem, produkcją, a także montażem.'
                    ul(class='s-service-list')
                        li
                            != 'NAGŁOŚNIENIE'
                        li
                            != 'OŚWIETLENIE'
                        li
                            != 'KRATOWNICA'
                        li
                            != 'OCTANORMA'
                        li
                            != 'DRUKI I GADŻETY'
                        li
                            != 'SCENOGRAFIA'
                        li
                            != 'MEBLE EVENTOWE'
                        li
                            != 'STANDY REKLAMOWE'
                        li
                            != 'CLEVER FRAME'
                        li
                            != 'INDYWIDUALNE PROJEKTY'
                div(class='s-service-image')
                    img(src='images/s-stoiska-targowe.png' alt='some text')