extends ../layout/service

block title
    | Service scenic lightning

block content
    main
        div(class='s-service')
            div(class='wrapper-inner')
                div(class='s-service-header')
                    h1
                        != 'OPRAWA SCENICZNA'
                    a(href='index.html#services' class='s-service-back-to-home')
                        != 'Powrót'
                div(class='s-service-info')
                    div(class='s-service-text')
                        p
                            != 'Nagłośnienie, oświetlenie, kratownica, podesty sceniczne, multimedia, <br>a także scenografia.'
                    ul(class='s-service-list')
                        li
                            != 'IMPREZY FIRMOWE'
                        li
                            != 'KONFERENCJE'
                        li
                            != 'KONCERTY'
                        li
                            != 'PIKNIKI'
                        li
                            != 'WESELA'
                        li
                            != 'TARGI'
                        li
                            != 'INNE'
                div(class='s-service-image')
                    img(src='images/s-oprawa-sceniczna.png' alt='some text')