/*********************************************
*********** about-us
**********************************************/

.about-us {
  background: #000;

  h2 {
    font-family: $font-bold;
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    margin: 0 0 30px;

    span {
      font-family: inherit;
      letter-spacing: 6.4px;
    }

  }

  p {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin: 20px 0;
  }

}

@media(max-width: 767px) {

  .about-us {

    h2 {
      font-size: 32px;
      margin: 0 0 20px;
    }

    p {
      font-size: 18px;
    }

  }

}