/*********************************************
*********** blog
**********************************************/

main .blog {
  padding: 100px 0 50px;
}

.blog {

  .s-service-back-to-home {
    display: inline-block;
    margin: 0 0 25px;
  }

  h1 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
    letter-spacing: 6.4px;
  }

  &-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &-item {
    max-width: 385px;
    width: 100%;
    padding: 20px;
    transition: .4s;

    figure {
      display: block;
      width: 100%;
      padding-top: 50%;
      overflow: hidden;
      position: relative;
      transition: .3s;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        max-width: none;
        min-width: 100%;
        min-height: 100%;
        transition: .3s;
      }

    }

    h3 {
      font-family: $font-bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 20px;
      line-height: 1;
      margin: 15px 0 5px;
      transition: .4s;
    }

    time {
      font-style: italic;
    }

    &:hover {

      h3 {
        color: $color-pink;
      }

      figure {
        box-shadow: 0 0 0 1px rgba(255, 0, 255, .75);

        img {
          transform: translate(-50%, -50%) rotate(10deg) scale(1.2);
          transition: 6s linear;
        }

      }

    }

  }

  article {

    h1 {
      text-align: left;
    }

    h2 {
      text-align: left;
      margin: 35px 0 25px;
    }

    p {
      margin: 25px 0;
      font-size: 20px;
      line-height: 28px;
    }

    img {
      border: 1px solid $color-blue;
      max-width: 500px;
      float: left;
      margin: 0 25px 10px 0;
    }

    .article-image-main {

      img {
        border: 3px solid $color-blue;
        max-width: 100%;
        max-height: 400px;
        float: none;
        margin: 0;
      }

    }

  }

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0;

  a,
  span {
    display: inline-block;
    font-size: 20px;
    margin: 0 6px;

    &.prev,
    &.next {
      margin: 0 9px;
    }

  }

  span {
    color: $color-blue;
  }

  a:hover {
    color: $color-pink;
  }

}

@media(max-width: 1199px) {

  .blog {

    &-list {
      justify-content: center;
    }

  }

}

@media(max-width: 767px) {

  .article-image-small {

    img {
      display: inline-block;
      max-width: 100%;
      float: none;
      margin: 0;
    }

  }

}