/*********************************************
*********** contact
**********************************************/

.contact {
  padding: 50px 0;
  margin: 0;

  h2 {
    text-align: center;
    font-size: 37px;
    letter-spacing: 6.4px;
    text-transform: uppercase;
    margin: 0 0 30px;
  }

  &-content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-list {
    flex-shrink: 0;
  }

  &-map {
    padding: 40px 0 60px 40px;
    flex-grow: 1;
    filter: grayscale(100%);

    iframe {
      width: 100%;
      height: 100%;
    }

  }

  &-item {
    margin: 40px 0 60px;
  }

  &-title {
    font-family: $font-bold;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 1px;
  }

  p {
    font-size: 30px;
    line-height: 34px;
    margin: 5px 0;

    a {
      color: inherit;

      &:hover {
        color: $color-pink;
      }

    }

  }

}

@media(max-width: 991px) {

  .contact {
    padding: 30px 0 180px;

    h2 {
      font-size: 32px;
      letter-spacing: 2px;
      margin: 0 0 20px;
    }

    &-content {
      display: block;
    }

    &-item {
      text-align: center;
      margin: 40px 0 60px;
    }

    &-map {
      padding: 0;
      height: 400px;
    }

    &-title {
      font-size: 24px;
      line-height: 28px;
    }

    p {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      margin: 10px 0;
    }

  }

}

@media(max-width: 480px) {

  .contact {
    padding: 30px 0 180px;

    &-map {
      height: 250px;
    }

  }

}