/*********************************************
*********** footer
**********************************************/

footer {
 display: block;
 width: 100%;
 position: absolute;
 left: 0;
 bottom: 0;

 .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  li {
   display: block;
   list-style: none;
   margin: 10px;

   a {
    display: block;
    width: 50px;

    &:hover {
     transform: scale(1.1);
    }

   }

  }

 }

 .developer {
  text-align: center;
  margin: 0 0 25px;
  font-size: 16px;
  font-family: $font-bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;

  a {
   color: inherit;
   font-family: inherit;

   &:hover {
    color: $color-pink;
   }

  }

 }

}

@media(max-width: 767px) {



}
