/*********************************************
*********** header
**********************************************/

header {
  display: block;
  width: 100%;
  height: 105px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px 0 10px;
  background: rgba(0, 0, 0, .8);
  z-index: 101;
  transition: .6s;

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

}

.shortcut {

  header {
    padding: 15px 0 0;
    height: 75px;

    .logo {
      width: 70px;
    }

  }

}

.burger {
  display: none;
  width: 40px;
  height: 25px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;

  > div {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: .4s;
    transform-origin: center;
  }

  &-top {
    top: 0;
  }


  &-center {
    margin: auto;
    top: 0;
    bottom: 0;
  }

  &-bottom {
    bottom: 0;
  }

  &.active {

    .burger-top {
      top: 11px;
      transform: rotate(-45deg);
    }

    .burger-center {
      left: 50%;
      width: 0;
    }

    .burger-bottom {
      bottom: 11px;
      transform: rotate(45deg);
    }
  }

}

.logo {
  width: 100px;
  transition: .6s;
}

.nav-header {
  transition: .6s;

  ul {
    display: flex;

    li {
      display: block;
      list-style: none;
      margin: 0 25px;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 2px;
        height: 24px;
        background: #fff;
        position: absolute;
        right: -26px;
        top: 0;
      }

      &:first-child {
        margin: 0 25px 0 0;
      }

      &:last-child {
        margin: 0 0 0 25px;

        &:after {
          display: none;
        }

      }

      a {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1;
        font-family: $font-bold;
        letter-spacing: 2px;

        &:hover {
          color: $color-blue;
        }

      }

    }

  }

}

@media(max-width: 991px) {

  .burger {
    display: block;
  }

  nav.nav-header {
    display: block;
    position: fixed;
    right: 100%;
    top: 75px;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    padding: 10px 10px 10px calc(50% - 465px);
    margin: 0!important;

    ul {
      display: block;

      li {
        margin: 0;
        padding: 5px 20px;

        &:after {
          display: none;
        }

        &:first-child,
        &:last-child {
          margin: 0;
        }

      }

    }

    &.active {
      right: 0;
    }

  }

}

@media(max-width: 767px) {

  header {
    padding: 10px 0 0;
  }

}

@media(max-width: 480px) {

  header {
    margin: 0 0 30px;
  }

}