/*********************************************
*********** logos
**********************************************/

.logos {
  padding: 30px 0;

  .logos-inner {
    background: #fff;
    padding: 20px 0;
  }

  h2 {
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    letter-spacing: 6.4px;
    margin: 0 0 30px;
  }

  &-slider {
    padding: 0 75px;
    position: relative;

    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      margin: 0 5px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
        margin: 0 auto;
      }

    }

  }

}

.slider-arrow {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/arrow.png) no-repeat;
  background-size: cover;
  border: none;
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  opacity: .6;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

}

.slider-prev {
  left: 5px;
}

.slider-next {
  right: 5px;
  transform: rotate(180deg);
}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {

}