/*********************************************
*********** portfolio
**********************************************/

.portfolio {
  padding: 60px 0;

  h2 {
    font-size: 28px;
    font-family: $font-bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 0 20px;
  }

  &-slider {
    padding: 0 70px;

    .slick-arrow {
      width: 35px;
      height: 123px;
      color: transparent;
      font-size: 0;
      background: url(../images/slider-next.png) no-repeat 0 0;
      border: none;
      cursor: pointer;
      transition: .4s;
      opacity: .7;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;

      &:hover {
        opacity: 1;
      }

    }

    .slick-prev {
      left: 20px;
      transform: rotate(180deg);
    }

    .slick-next {
      right: 20px;
    }

  }

}

@media(max-width: 767px) {

  .portfolio {
    padding: 40px 0;

    &-slider {
      padding: 0;

      .slick-next,
      .slick-prev {
        display: none!important;
      }

    }

  }

}