/*********************************************
*********** s-service
**********************************************/

.s-service {
  padding: 50px 0;

  &-simple {
    padding: 50px 0;

    h1 {
      font-family: $font-bold;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 6.4px;
      color: $color-blue;
      text-transform: uppercase;
    }

    .s-service-text {
      margin: 200px 0 0;

      p {
        text-align: center;
        font-size: 19px;
        line-height: 24px;
        margin: 20px 0;
        letter-spacing: .8px;
      }

    }

  }

  .wrapper-inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    justify-content: space-between;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  h1 {
    font-family: $font-bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 6.4px;
    color: $color-blue;
    text-transform: uppercase;
  }

  &-back-to-home {
    display: block;
    padding: 0 5px;
    border: 3px solid $color-blue;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 45px;
    letter-spacing: 4px;
    color: $color-blue;
    transition: .6s;
    font-family: $font-bold;
    position: relative;
    z-index: 2;

    &:hover {
      border: 3px solid $color-pink;
      color: $color-pink;
    }

  }

  &-text {
    min-height: 100px;

    p {
      font-size: 18px;
      line-height: 21px;
      margin: 25px 0;
      letter-spacing: .8px;
    }

    &-large {
      padding: 0 0 20px;

      p {
        font-size: 19px;
        line-height: 40px;
        margin: 25px 0;
      }

    }

  }

  &-info {
    max-width: 50%;
    margin: 30px 0 0;
  }

  &-list {
    flex-shrink: 0;

    li {
      display: block;
      list-style: none;
      font-size: 22px;
      line-height: 32px;
      padding: 0 0 0 25px;
      text-transform: uppercase;
      position: relative;
      font-family: $font-bold;

      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background: $color-pink;
        position: absolute;
        left: 0;
        top: 9px;
      }

    }

  }

  &-image {
    max-width: 50%;
    margin: 30px 0 0;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -100px;
      right: -100px;
      top: -100px;
      bottom: -100px;
      background: radial-gradient(at center, rgba(255, 255, 255, .3), transparent 70%);
      z-index: -1;
    }

  }

  &-note {

    p {
      font-size: 18px;
      line-height: 24px;
    }

  }

  &-gallery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 50px;
    width: 1005px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px calc(25% - 210px);
      padding: 20px;
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: calc(100% - 25px);
        box-shadow: inset 2px 0 0 0 $color-blue, inset -2px 0 0 0 $color-blue, inset 0 -2px 0 0 $color-blue;
        position: absolute;
        left: 0;
        bottom: 0;
      }

    }

    h3 {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 1;
      white-space: nowrap;
      text-align: center;
      position: relative;
      margin: 0 0 10px;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 210px;
        height: 2px;
        background: $color-blue;
        position: absolute;
        right: calc(100% + 10px);
        top: 5px;
      }

      &:after {
        right: auto;
        left: calc(100% + 10px);
      }
    }

    &-image {
      width: 380px;
      height: 250px;
      overflow: hidden;

      img {
        display: block;
        margin: 0;
        width: auto;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        max-height: none;
      }

    }

  }

}

@media(max-width: 999px) {

  .s-service {
    padding: 30px 0;

    &-simple {
      padding: 30px 0;

      .s-service-text {
        margin: 0;
      }

    }

    &-text {
      padding: 30px 0;
      min-height: auto;

      p {
        text-align: center;
      }

    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      max-width: none;
      width: 100%;
    }

    &-image {
      max-width: none;
      margin: 40px auto;
    }

    &-list {
      flex-shrink: 0;

      li {
        text-align: center;
        margin: 5px 0;
        padding: 0;

        &:before {
          display: none;
        }

      }

    }

    &-gallery {
      display: block;
      margin: 0 0 25px;

      h3 {
        white-space: normal;

        &:before,
        &:after {
          display: none;
        }

      }

      &-item {

        &:before {
          display: none;
        }

      }

    }

  }

}

@media(max-width: 767px) {

  .s-service {

    &-header {
      flex-direction: column;
    }

    h1 {
      font-size: 26px;
      line-height: 32px;
      text-align: center;
    }

    &-back-to-home {
      margin: 20px 0 0;
      font-size: 20px;
      line-height: 35px;
    }

  }

}

@media(max-width: 480px) {

  .s-service {

    &-gallery {

      &-item {
        margin: 0 auto 20px;
      }

      &-image {
        width: 100%;
        max-width: 380px;
        height: auto;

        img {
          max-width: 100%;
        }

      }

    }

  }

}