/*********************************************
*********** services
**********************************************/

.services {

  h2 {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
    letter-spacing: 6.4px;
  }

  p {
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;

    a {
      color: inherit;

      &:hover {
        color: $color-pink;
      }

    }

  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    margin: 0 0 35px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(20% - 20px);
    margin: 0 16px 16px 0;
    padding: 15px 10px;
    border: 7px solid $color-pink;
    text-align: center;
    transition: .4s;

    &:nth-of-type(5n) {
      margin: 0 0 16px 0;

      ~ .services-item {
        border: 7px solid $color-blue;

        &:hover {
          border: 7px solid #fff;
        }

      }

    }

    &:hover {
      border: 7px solid #fff;
    }

  }

  &-title {
    font-size: 20px;
    font-family: $font-bold;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &-subtitle {
    font-size: 19px;
    letter-spacing: 1px;
  }

  &-icon {
    width: 100px;
    height: 90px;
    margin: 15px 0;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }

  }

}

@media(max-width: 1199px) {

  .services {
    background-size: cover;

    &-list {
      margin: 0 0 25px;
    }

    &-item {
      width: 230px;
      margin: 15px;

      &:nth-of-type(5n) {
        margin: 15px;
      }

    }

  }

}

@media(max-width: 767px) {

  .services {

    h2 {
      font-size: 28px;
    }

  }

}