/*********************************************
*********** top
**********************************************/

.top {
  background: #000;
  padding: 95px 0 30px;
  transition: .6s;

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: block;
      list-style: none;
      margin: 0 90px;
      position: relative;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 6.4px;
      font-family: $font-bold;

      &:after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: linear-gradient(to right, $color-blue, $color-pink);
        position: absolute;
        right: -99px;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:first-child {
        margin: 0 90px 0 0;
      }

      &:last-child {
        margin: 0 0 0 90px;

        &:after {
          display: none;
        }

      }

    }

  }

}

@media(max-width: 1199px) {

  .top {

    &-list {

      li {
        margin: 0 40px;
        font-size: 24px;

        &:after {
          width: 12px;
          height: 12px;
          right: -46px;
        }

        &:first-child {
          margin: 0 40px 0 0;
        }

        &:last-child {
          margin: 0 0 0 40px;
        }

      }

    }

  }

}

@media(max-width: 767px) {

  .top {
    padding: 20px 0 30px;

    &-list {
      display: block;
      text-align: center;
      margin: 20px 0 0;

      li {
        margin: 20px 0;
        font-size: 24px;

        &:after {
          top: auto;
          bottom: -16px;
          right: 0;
          left: 0;
          margin: auto;
        }

        &:first-child,
        &:last-child {
          margin: 0;
        }

      }

    }

  }

}